<div class="w-screen h-screen relative z-0">
  <!-- Top Level Styling -->
  <div class="absolute inset-0 z-10">
    <%= image_tag "havana_sticker", class: 'h-48' %>
  </div>

  <!-- Inside Container -->
  <div class="mx-10 mt-10 mb-20 min-[500px]:border-white min-[500px]:border-[10px] rounded-[25px] absolute inset-0 flex z-1">
    <div class="ml-28 min-[735px]:ml-28">
      <h1 class="font-bold text-4xl min-[735px]:text-7xl text-rose-900 drop-shadow-[2px_2px_0_white] min-[735px]:drop-shadow-[5px_5px_0_white]">Havana Kaba</h1>
      <p class="ml-1 -mt-1 font-thin italic">FullStack Software Engineer.</p>
    </div>
  </div>
</div>
